.image-container {
    text-align: center;
  }
  .image-container img {
    margin-right: 50px; 
  }
  .image-container img:last-child {
    margin-right: 0; 
  }
.org ul li{
    display: inline;
}
.dropdown{
    justify-content: center;
    text-align: center;
    padding: 50px 50px;
    background-color: burlywood;
}
.h1{
  background-color: beige;
  font-family: 'Anton', sans-serif;
  text-align: center;
  padding: 10px 10px;
}
.h2{
   background-color: yellowgreen;
   font-family: 'Libre Baskerville', serif;
   font-family: 'Nunito', sans-serif;
   padding: 10px 10px;
   text-align: center;
}
.image-container{
  background-color: beige;
  padding: 50px 50px;
}
.orgsn{
  text-align: center;
  justify-content: center;
  padding: 20px 20px;
}
.orgsn{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
    margin: 20px 0;
  }

  h2 {
    font-size: 24px;
    margin: 15px 0;
  }

  .dropdown .btn {
    font-size: 16px;
  }

  .orgsn h3 {
    font-size: 20px;
  }

  .orgsn button {
    font-size: 16px;
  }
}
